@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #9f42fc;

  --font-primaria: "Krona One", sans-serif;
  --font-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__link {
  font-family: var(--font-secundaria);
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--cor-terciaria);
}

.conteudo {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.conteudo__principal {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.conteudo__titulo {
  font-size: 2.25rem;
  line-height: 56px;
  font-family: var(--font-primaria);
  font-weight: 400;
}

.titulo-destaque {
  color: var(--cor-terciaria);
}

.conteudo__texto {
  font-size: 1.5rem;
  line-height: 36px;
  font-family: var(--font-secundaria);
  font-weight: 400;
}

.conteudo__link {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.conteudo__subtitulo {
  font-family: var(--font-primaria);
  font-size: 1.5rem;
  font-weight: 400;
}

.conteudo__botao {
  display: flex;
  justify-content: center;
  gap: 16px;
  color: var(--cor-secundaria);
  border: 2px solid var(--cor-terciaria);
  text-decoration: none;
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  font-family: var(--font-secundaria);
}

.conteudo__botao:hover {
  background-color: #272727;
}

.conteudo__imagem {
  width: 50%;
}

.rodape {
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  padding: 24px;
  text-align: center;
  font-family: var(--font-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}

/* Media Query */

@media (max-width: 1200px) {
  .cabecalho {
    padding: 6%;
  }

  .cabecalho__menu {
    justify-content: center;
  }

  .conteudo {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .conteudo__principal {
    width: auto;
  }
}
